# Go
*.exe
*.test
*.out

# Local builds
/clarity
/dist/

# Local state
/.clarity/
/.gocache/
/tmp/
/go-build-cache/
/.gopath/
/.DS_Store
/.gomodcache/
/.cache/
/.tmpgocache.4DzVT1/
/.tmpgomodcache.JkQ0qq/
/.tmpgocache.H95VW1/
